:root {
    --button-color: #C1DFE5;
    --card-color: linen;
    --txtOR-hilght: black;
    }
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
h1 {
    font-family: 'Newsreader', serif;
    font-weight: 100;
    text-align: center;
    justify-content: center;
    box-sizing: content-box;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 14px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--card-color);
    border-radius: 40px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--txtOR-hilght);
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: var(--txtOR-hilght);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  }