:root {
--button-color: #C1DFE5;
--card-color: #c9e8ee;
--txtOR-hilght: black;
}
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
@media only screen and (max-width: 2600px) { body {
    margin: 0;
    font-family: 'Newsreader', serif;
}
}
body {
    background-color: #f2f2f2;
    font-family: 'Newsreader', serif;
}
.landingheader {
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 32px 10px;
    margin: 10px;
    border-radius: 30px;
}
.iconLogo {
    float: left;
    color: var(--txtOR-hilght);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px; 
}
.headRight a {
    float: right;
    color: var(--txtOR-hilght);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.landingheader a:hover {
    background-color: var(--button-color);
    color: var(--txtOR-hilght);
}
.box {
    box-shadow: 0 8px 16px 0 var(--card-color);
    border-style: solid;
    border-width: 0.50px;
    border-color: var(--card-color);
    border-radius: 8px;
    transition: 0.1s;
    margin: auto;
    width: 40%;
    cursor: pointer;
}
.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
    text-align: center;
    line-height: 3.3;
    font-size: 8px;
}
div.details-box{
    text-align: center;
    line-height: 3.3;
    font-size: 24px;
    font-weight: 400;
    color: var(--txtOR-hilght);
}
.promoPic{                  /*photo centered. picture of laser is an open source photo from website www.pixabay.com */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 var(--card-color), 0 6px 20px 0 var(--card-color);
}
.submission {
    text-align: center;
    padding: 2px 16px;
    display: block;
}
#subEmail input {    
    display: none;     /* email input and 'get started' button styling. email class will not feature an email at final deployment(merchant payemtn attached) */
    cursor: pointer;
    margin: 10px;
    border-color: var(--card-color);
    border-radius: 10px;
    background-color: var(--button-color); /* #C1DFE5 */
    border: none;
    color: var(--txtOR-hilght);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    max-width: 100px;
    box-shadow: 0 4px 8px 0 var(--card-color), 0 6px 20px 0 var(--card-color) inset;
}
button {                  /* email input and 'get started' button styling */
    cursor: pointer;
    padding: 4px 29px;
    margin: 10px;
    border-color: var(--card-color);
    border-radius: 10px;
    background-color: var(--button-color); /* #C1DFE5 */
    border: none;
    color: var(--txtOR-hilght);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    max-width: 250px;
    box-shadow: 0 4px 8px 0 var(--card-color), 0 6px 20px 0 var(--card-color) inset;
}
::placeholder {
    color: green;
}
#subEmail:hover {
    background-color: var(--button-color);
    color: var(--txtOR-hilght);
}
#subButton:hover {
    background-color: var(--button-color);
    color: var(--txtOR-hilght);
}
.details-icon {          /* icons to showcase quality of service completion. retrieved from open source website www.pixabay.com */
    max-width: 170px;
    max-height: 170px;
    margin-left: 15px;
    margin-right: 30px;
    float: left;
    border: 3px solid #f2f2f2;
    box-shadow: 5px 10px 20px #f2f2f2;
    border-radius: 6px;
}
.text {                 /* icon description text, with custom lorem ipsum. */
    padding: 25px;
    font-weight: 500;
    text-align: left;
    font-size: 17px;
    max-width: 60%;
    padding: 10px;
    padding-left: 10%;
    margin-left: 90px;
    text-transform: none;
    line-height: 1.5;
}
div.quality-section {
    float: left;
    justify-content: center;
    margin-left: 60px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 20px;
    width: 16em;
    border:1px solid var(--card-color);
    border-radius: 38px;
    box-shadow: 0 4px 8px 0 var(--card-color), 0 6px 20px 0 var(--card-color) inset;
}
.quality-section:hover {    /* hoverable sample images from open-source website www.pixabay.com */
    background-color: var(--card-color);
    box-shadow: 0 8px 16px 0 var(--card-color);
}
.spacing {
    padding-top: 38px;
}
.footer {           /* final sticky footer. */
    margin: auto;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--txtOR-hilght);
    background-color: #f2f2f2;
    border-radius: 30px;
    text-align: center;
    font-family: 'Newsreader', serif;
    font-weight: 300;
    padding-top: 5px;
}
.linkTxt {
    text-decoration: var(--txtOR-hilght) none underline;
    color: var(--txtOR-hilght);
}
.linkTxt:visited {
    color: var(--txtOR-hilght);
}
hr {
    max-width: 33%;
}