@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Newsreader', serif;
}
.landingheader {
    overflow: hidden;
    background-color: linen;
    padding: 32px 10px;
    margin: 10px;
    border-radius: 10px;
}
.iconLogo {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px; 
}
.headRight a {
    float: right;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.landingheader a:hover {
    background-color: #C1DFE5;
    color: black;
}
.box{
    box-shadow: 0 8px 16px 0 linen;
    border-style: solid;
    border-width: 0.50px;
    border-color: linen;
    border-radius: 8px;
    transition: 0.1s;
    margin: auto;
    width: 40%;
    cursor: pointer;
}
.box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
div.details-box{
    text-align: center;
    line-height: 3.3;
    font-size: 24px;
    font-weight: 400;
    color: black;
}
/*
p{
    text-align: center;
    line-height: 3.3;
    font-size: 24px;
    font-weight: 400;
    color: black;
}*/
.promoPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submission {
    text-align: center;
    padding: 2px 16px;
    display: block;
}
#subEmail input {
    cursor: pointer;
    margin: 10px;
    border-color: linen;
    border-radius: 10px;
    background-color: #C1DFE5; /* #C1DFE5 */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    max-width: 250px;
}
button {
    cursor: pointer;
    padding: 4px 29px;
    margin: 10px;
    border-color: linen;
    border-radius: 10px;
    background-color: #C1DFE5; /* #C1DFE5 */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    max-width: 250px;
}
::placeholder {
    color: black;
}
#subEmail:hover {
    background-color: #C1DFE5;
    color: black;
}
#subButton:hover {
    background-color: #C1DFE5;
    color: black;
}
.details-icon {
    max-width: 170px;
    max-height: 170px;
    margin-left: 15px;
    margin-right: 1px;
    float: left;
    border: 3px solid linen;
    box-shadow: 5px 10px 20px black;
    border-radius: 6px;
}
.text {
    padding: 25px;
    font-weight: 580;
    text-align: left;
    font-size: 13px;
    max-width: 60%;
    padding: 10px;
    padding-left: 10%;
    margin-left: 90px;
}
div.price-section {
    float: left;
    margin: 40px;
    padding: 20px;
    width: 18em;
    border:1px solid black;
    word-wrap: break-word;
}