@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Newsreader', serif;
  }
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1577563572782-0b2a67d94fac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
  }
  
  .hero-text button {
    border: none;
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .hero-text button:hover {
    background-color: linen;
    color: white;
  }
  .bodyTxt {
    text-indent: 2em;
    line-height: 1.5;
    word-wrap: break-word;
  }
  nav {
    padding-left: 33px;
  }
  main {
    line-height: 1.5;
  }
  a {
    text-decoration: none;
  }
  .tabList {
    list-style-type: '-';
    line-height: 1.8;
  }
  .footer {           /* final sticky footer. */
    margin: auto;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--txtOR-hilght);
    background-color: white;
    border-radius: 30px;
    text-align: center;
    font-family: 'Newsreader', serif;
    font-weight: 300;
    padding-top: 5px;
}
.linkTxt {
    text-decoration: black none;
    color: black;
}
.linkTxt:visited {
    color: black;
}